.navbar {
    background-color: aqua;
}

.card {
    background-color: rgba(0, 0, 247, 0.801); 
}

.card-title {
    color: aliceblue;
}

.card .btn {
    background-color: rgb(4, 187, 4) ;
}